.question__search__container{
  display: flex;
  justify-content: center;
  background: #8CBA51;
  margin-top: 165px;
  padding: 30px 0;
}
.question__search{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 150px;
  max-width: 1920px;
  width: 100%;
  position: relative;
}
.search__form{
  border-radius: 68px;
  background: rgba(255, 255, 255, 0.70);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 25px 50px;
  input{
    flex-grow: 1;
    height: 50px;
    padding-left: 30px;
    margin-left: 20px;
    color: #000;
    font-family: Montserrat;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
    background: none;
    border: none;
    outline: none;
  }
  img{
    width: 50px;
    height: 50px;
  }
}
.search__result{
  position: absolute;
  top: 100px;
  display: flex;
  flex-direction: column;
  width: calc(100% - 300px);
  border-radius: 68px;
  background: #FFF;
  box-shadow: 5px 5px 50px 0px rgba(0, 0, 0, 0.30);
  a{
    color: #000;
    font-family: Montserrat;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
    padding: 0 30px 30px 160px;
    &:first-child{
      padding-top: 30px;
    }
  }
}
.question__container{
  padding: 0 150px;
}
.question__title{
  color: #0D0D0D;
  font-family: Montserrat;
  font-size: 64px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  text-transform: uppercase;
  margin-bottom: 5px;
  margin-top: 120px;
  text-align: center;
}
.question__subtitle{
  color: #0D0D0D;
  font-family: Montserrat;
  font-size: 26.998px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 70px;
  text-align: center;
}
.question__filter{
  display: flex;
  align-items: center;
  justify-content: space-between;
  a{
    color: #FFF;
    text-align: center;
    font-family: Montserrat;
    font-size: 36px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    border-radius: 66px;
    background: #FF9A24;
    width: 470px;
    height: 118px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  button{
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #0D0D0D;
    font-family: Montserrat;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    width: 470px;
    height: 80px;
    padding: 20px 50px;
    border-radius: 50px;
    border: none;
    outline: none;
    background: #FFF;
    box-shadow: 5px 5px 50px 0px rgba(0, 0, 0, 0.30);
    span{
      flex-grow: 1;
    }
  }
}

@media (max-width: 1796px){
  .question__search {
    padding: 0 100px;
  }
  .question__container {
    padding: 0 100px;
  }
  .search__result{
    width: calc(100% - 200px);
  }
}
@media (max-width: 1440px){
  .question__search {
    padding: 0 40px;
  }
  .question__container {
    padding: 0 40px;
  }
  .search__result{
    width: calc(100% - 80px);
  }
  .question__title{
    font-size: 45px;
  }
  .question__subtitle{
    font-size: 22px;
  }
  .question__filter{
    a{
      font-size: 28px;
      width: auto;
      height: auto;
      padding: 25px 40px;
    }
    button{
      width: 430px;
      height: 70px;
    }
  }
}
@media (max-width:1220px) {
  .question__search__container{
    margin-top: 110px;
  }
}
@media (max-width:1024px) {
  .search__form{
    padding: 15px 30px;
    img{
      width: 35px;
      height: 35px;
    }
    input{
      height: 35px;
    }
  }
  .search__result{
    top: 65px;
    border-radius: 40px;
    a{
      padding: 0 20px 20px 115px;
      font-size: 16px;
      &:first-child{
        padding-top: 20px;
      }
    }
  }
  .question__title{
    font-size: 34px;
  }
  .question__subtitle{
    font-size: 18px;
  }
  .question__filter{
    a{
      font-size: 24px;
      width: auto;
      height: auto;
      padding: 20px 30px;
    }
    button{
      width: 390px;
      height: 70px;
      font-size: 18px;
      padding: 20px 40px;
    }
  }
}
@media (max-width:768px) {
  .question__search__container{
    padding: 20px 0;
  }
  .search__form{
    padding: 10px 20px;
    img{
      height: 20px;
      width: 20px;
    }
    input{
      font-size: 12px;
      height: 30px;
      margin-left: 10px;
      padding-left: 10px;
      &::placeholder{
        font-size: 10px;
      }
    }
  }
  .search__result{
    top: 50px;
    border-radius: 34px;
    a{
      padding: 0 15px 15px 55px;
      font-size: 12px;
      &:first-child{
        padding-top: 15px;
      }
    }
  }
  
  .question__title{
    font-size: 25px;
    margin-top: 100px;
  }
  .question__subtitle{
    font-size: 16px;
    margin-bottom: 30px;
  }
  .question__filter{
    a{
      font-size: 16px;
      padding: 20px 30px;
    }
    button{
      width: 270px;
      height: 43px;
      font-size: 16px;
      padding: 10px 20px;
      img{
        width: 24px;
      }
    }
  }
}
@media (max-width:620px) {
  .question__search__container{
    margin-top: 60px;
  }
  .question__search{
    padding: 0 20px;
  }
  .question__container{
    padding: 0 20px;
  }
  .search__result{
    width: calc(100% - 40px);
  }
}
@media (max-width:425px) {
  .search__form{
    input{
      font-size: 11px;
      padding-left: 0;
      &::placeholder{
        font-size: 8px;
      }
    }
  }
  .search__result{
    a{
      padding: 0 15px 15px 20px;
      font-size: 10px;
    }
  }
}